name: CI/CD

on:
  push:
    branches:
      - main
      - development
      - release
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Run basic test
        run: python -c "print('Все тесты прошли успешно!')"

  build-and-deploy-docs:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install documentation dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx sphinx-rtd-theme ghp-import

      - name: Build documentation
        run: |
          cd docs
          make html

      - name: Deploy documentation to GitHub Pages
        run: |
          ghp-import -n -p -f docs/_build/html
